@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
$font-stack:    'Roboto Mono', monospace;
$primary-color: #4373A9;
$secondary-color: #73a943;
$note-color: #FFFFA5;
$note-text: #201f1f;


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }

body {
	background-color: $primary-color;
	font-family: $font-stack;
	color: white;
}

header {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: .25em;
	margin-bottom: 1em;
}

ul.links {
	display: flex;
	list-style: none;
	flex-direction: row;
	align-items: center;

	a {
		margin-right: 1em;
		color: white;
		text-decoration: none;

	}

	a:hover {
		color: $note-color;
		cursor: pointer;
	}
}

h1 {
	font-weight: normal;
	margin: 0;
}

#note-holder {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
}

.note {
	background-color: $note-color;
	color: $note-text;
	flex-basis: 28%;
	margin: .5em .5em;
	padding: .5em;
	flex-shrink: 1;
	flex-grow: 1;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p {
		margin-top: 0;
		margin-bottom: .5em;
	}

	button {
		background-color: red;
		color: white;
		font-weight: bold;
		align-self: flex-end;
		padding:.25em;
		font-size: .75em;
	}

	button:hover {
		background-color: white;
		color: red;
	}
}

.add-note-view {
	background-color: black;
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	padding: 1em;
	border-radius: 20px;
	// text-align: center;
	h2 {
		margin: 0 auto .5em;;
	}

	textarea {
		width: 94%;
		height: 200px;
		background-color: $note-color;
		font-size: 1em;
		margin: 0 auto;
	}

	.SaveBtn {
		background-color: red;
		color: white;
		font-weight: bold;
		align-self: flex-end;
		padding:.25em;
		font-size: 1em;
		margin: 1em 1em 0 1em;
	}

	.SaveBtn:hover {
		background-color: white;
		color: red;
	}



	.CancelBtn {
		background-color: grey;
		color: white;
		font-weight: bold;
		align-self: flex-end;
		padding:.25em;
		font-size: 1em;
		margin-top: .5em;
		margin-right: 1em;
	}

	.CancelBtn:hover {
		background-color: white;
		color: grey;
	}
}



